#wrapper{
  height: 1000px;
  width: 950px;
  background-color: #505050;
}

#header{
  height:70px;
  width: 950px ;
  background-color: silver;
}

#header p{
  font-size: 17px;
  font-weight: bold;
  vertical-align: top;
  display:inline-block;
  margin-left: 450px;
  margin-top: 30px;
  margin-bottom: 0px;
  height: 27px;
  width: 300px;
}

#nametag {
  height: 70px;
  width: 120px;
  vertical-align: top;
  display:inline-block;
  margin-left: 0;
}

#navbar{

  height: 40px;
  width: 950px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;

}

#navbar ul{
  list-style-type: none;
  margin: 9px 0px 9px 0px;
}

#navbar ul li{
  display:inline;
  color: blue;
  /*text-decoration: underline;*/
  border-right-style: solid;
  border-color: black;
  /*font-size: 12px;*/
  padding:10px 25px 12px 30px;
}


#content-main {
  height: 350px;
  width: 950px;
}

#database{
  height 380px;
  width: 440px;
  margin: 15px;
}
